[project]
	description = This project is used to test image process flow, it is a way to see process result rapidly
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/StevenChien0
[access "refs/for/refs/*"]
	read = group user/StevenChien0
	push = group user/StevenChien0
	label-Code-Review = -2..+2 group user/StevenChien0
	label-Verified = -1..+1 group user/StevenChien0
	rebase = group user/StevenChien0
	removeReviewer = group user/StevenChien0
	submit = group user/StevenChien0
[access "refs/heads/*"]
	read = group user/StevenChien0
	create = group user/StevenChien0
	push = +force group user/StevenChien0
	pushMerge = group user/StevenChien0
[access "refs/tags/*"]
	push = +force group user/StevenChien0
	pushTag = group user/StevenChien0
	pushSignedTag = group user/StevenChien0
